/* gloab css*/
a{text-decoration: none;}
html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body{
	margin: 0px;
	font-size: 20px;
	height: 100%;
}
/*header css*/
#header{
	height: 60px;
    width: 100%;
    background: #e33b3b;
    color: #fff;
    line-height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
#header .logo{
	width: 240px;
	height: 60px;
	position: absolute;
	left:0px;
	top:0px;
}
#header .login_out{
	width: 100px;
	height: 60px;
	position: absolute;
	right:0px;
	top:0px;
	font-size: 16px;
	cursor: pointer;
}
#header .login_out img{
	width:22px;
	height:22px;
	position: absolute;
	left:5px;
	top:17px;
}

/* menu*/
#menu{
	width: 250px;
	height:calc(100% - 60px);
	position: absolute;
	left: 0px;
	top:60px;
	z-index: 999;
	background: #253949;
}
.el-menu{
	border-right: none;
}

/* body */
.main_body{
	width: calc(100% - 250px);
	height:calc(100% - 60px);
	overflow: auto;
	position: absolute;
	left:250px;
	top:60px;
	background: #f9f9f9;
}
/* query */
.query{
	width:97%;
	margin:auto;
	display: flex;
	display: -webkit-flex;
	flex-wrap:wrap;
	padding:20px 0px 35px 0px;
}
.query .query_items{
	width:24%;
	height:40px;
	line-height: 40px;
	padding:10px 0.5%;
	display: -webkit-flex;
	flex-wrap:wrap;
}
.query .query_items .text{
	width:30%;
	font-size:14px;
	text-align: center;
	color: #444;
}
.query .query_items .inputs{
	width:70%;
}
.query .query_button{
	width: 70%;
	margin-left:30%;
}

/* tables*/
.tables{
	width:97%;
	margin:auto;
	position: relative;
	text-align: center;
}
.tables td.operations .cell{
	width: 100%;
	display: flex;
	text-align: center;
}
.tables td.operations .cell .op_items{
	margin:auto 3px;
}
.tables .deleteRows{
	position: absolute;
	width:100px;
	left:0px;
	top:-32px;
}


/*滚动条*/
::-webkit-scrollbar{width: 10px;position: absolute;right: 0px;top: 0px;z-index: 9999;}
::-webkit-scrollbar-track{background-color:#E0E0E0;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius:5px;}
::-webkit-scrollbar-thumb{background-color:#868686;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius:5px;}

/*element 元素修改*/
.el-menu-item.is-active{
	color:#fff!important;
	background: #e33b3b!important;
}
.menuIcon{
	font-size:12px!important;
}
.el-button{
	width: 100%;
}
.el-select{
	width:100%;
}
.el-pagination{
	display: inline-block;
	margin-top:10px;
}
.el-message-box .el-button{
	width:auto!important;
}
.el-notification{
	z-index:99999!important;
}
/*.el-input__inner:focus{border-color: #6ED56C;}
.el-textarea__inner:focus{border-color:#6ED56C;}
.el-radio__inner{width:22px;height:22px;}
.el-radio__inner:hover{border-color: #6ED56C;}
.el-radio__input.is-checked .el-radio__inner{border-color:#6ED56C;background: #fff;}
.el-radio__inner::after{background: #E0E0E0;transform: translate(-50%,-50%) scale(1);width:12px;height:12px;}
.el-radio__input.is-checked .el-radio__inner::after{background: #6ED56C;}
.el-select .el-input__inner:focus{border-color: #6ED56C;}
.el-select .el-input__inner:hover{border-color: #6ED56C;}
.el-select .el-input__inner:active{border-color: #6ED56C;}

.el-pager li.active{background:#6ED56C;border-color:#6ED56C;}
.el-pager li.active:hover{color:#fff;}
.el-pager li:hover{color:#6ED56C}
.el-pagination button:hover{color:#6ED56C}
.el-pagination__editor:focus{border-color:#6ED56C}

.el-checkbox__inner:hover{border-color:#6ED56C}
.el-checkbox__input.is-checked .el-checkbox__inner{background:#6ED56C;border-color:#6ED56C;}

.el-icon-information{color:#6ED56C;}

.el-select-dropdown__item.selected.hover{background:#6ED56C;}
.el-select-dropdown__item.selected{background:#6ED56C;}
.el-button--primary{color:#fff;background-color:#6ED56C !important;border-color:#6ED56C !important;}
.el-button--primary:hover{background-color:#6EC400;border-color:#6EC400;}
.el-button:active{color:#6ED56C;border-color:#6ED56C;}
.el-button:hover{border-color:#6ED56C;}
.el-button:focus{color:#fff;border-color:#6ED56C;}
.avatar-uploader .el-upload {border: 1px dashed #d9d9d9;border-radius: 6px;cursor: pointer;position: relative;overflow: hidden;}
.avatar-uploader .el-upload:hover {border-color: #6ED56C;}
.avatar-uploader-icon {font-size: 28px;color: #8c939d;width: 133px;height: 160px;line-height: 160px;text-align: center;}
.avatar {width: 133px;height: 160px;display: block;}

.el-date-table td.current:not(.disabled), .el-date-table td.end-date, .el-date-table td.start-date{background-color: #6ED56C!important}
.el-date-table td.today:before{border-top:.5em solid #6ED56C;}
.el-picker-panel__link-btn{color:#6ED56C;}
.el-date-table td.today{color:#6ED56C;}
.el-time-panel__content::after, .el-time-panel__content::before{background-color:#6ED56C;}
.el-time-panel__btn.confirm{color:#6ED56C;}
.el-tabs__item.is-active{color:#6ED56C;}
.el-tabs__active-bar{background-color:#6ED56C;}*/
